<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/modify.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Editor's Style -->
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 수정</title>
  </head>
  <body>
    <%- include('nav') %>

    <div class="container">
      <h5 class="bold">현재 수정 중인 상품</h5>
      <table>
        <thead>
          <tr>
            <th>상품 이미지</th>
            <th>상품명</th>
            <th>카테고리</th>
            <th>가격</th>
            <th>상세</th>
          </tr>
        </thead>
        <tbody>
          <% product.forEach( p => { %>
          <tr id="tr_<%= p.id %>">
            <td><img src="<%= p.image %>" /></td>
            <td><%= p.name %></td>
            <td><%= p.category %></td>
            <td><%= p.price %></td>
            <td><%= p.detail %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <form name="updateData">
        <div
          class="image-upload"
          onclick="document.getElementById('imageInput').click()"
        >
          <span id="imageLabel">이미지 선택</span>
          <input
            type="file"
            id="imageInput"
            name="image"
            accept="image/*"
            onchange="previewImage(event)"
          />
          <% if (product && product.length > 0 && product[0].image) { %>
          <img
            id="preview"
            src="<%= product[0].image %>"
            alt="이미지 미리보기"
            style="display: block"
          />
          <% } else { %>
          <img
            id="preview"
            src=""
            alt="이미지 미리보기"
            style="display: none"
          />
          <% } %>
        </div>

        <!-- 상품 등록 입력 필드 -->
        <div class="inputs">
          <div class="flex">
            <input
              id="name"
              value="<%= product[0].name %>"
              placeholder="상품 이름을 입력해 주세요."
            />
            <div id="btn" onclick="check()">중복 체크</div>
          </div>
          <div id="nameAlert"></div>

          <input
            type="number"
            id="price"
            value="<%= product[0].price %>"
            placeholder="가격을 입력해 주세요."
          />

          <div class="editor-container">
            <div id="detailEditor"
              data-detail='<%= product[0].detail.replaceAll("\\\"", "&quot;").replaceAll("\\\'", "&#39;") %>'></div>
          </div>

          <div class="radioAll">
            <input type="radio" name="category" value="Speaker" <%=
            product[0].category === 'Speaker' ? 'checked' : '' %> />
            <div class="font">Speaker</div>

            <input type="radio" name="category" value="Headphones" <%=
            product[0].category === 'Headphones' ? 'checked' : '' %> />
            <div class="font">Headphones</div>

            <input type="radio" name="category" value="Soundbar" <%=
            product[0].category === 'Soundbar' ? 'checked' : '' %> />
            <div class="font">Soundbar</div>

            <input type="radio" name="category" value="TV" <%=
            product[0].category === 'TV' ? 'checked' : '' %> />
            <div class="font">TV</div>
          </div>

          <button
            type="button"
            id="btnSelect"
            onclick="modifyProduct('<%= product[0].id %>')"
          >
            수정하기
          </button>
        </div>
      </form>
      <div class="backBtn">
        <a href="/" class="back"> 돌아가기 </a>
      </div>
    </div>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="/static/js/modify.js"></script>
  </body>
</html>
